  /* MAIN */
  :root {
      --main-text-color: #757575;
      --dark-bg-text-color: #FFFFFF;
      --accent-color: #2196f3;
      --tittle-color: #212121;
      --dark-bg-color: #2f303a;
      --button-color: #212121;
      --button-background-color: #e5e5e5;
      --card-set-gap: 30px;
  }
  html {
    box-sizing: border-box;
  }
  *,
  *::before
  *::after {
    box-sizing: inherit;
  }
  body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--main-text-color);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    margin-top: 0;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /* CONTAINER */
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  /* CARD SET */
  .card-set {
    padding: 0;
    margin: 0;
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    margin-top: calc( -1 * var(--card-set-gap));
    margin-left: calc( -1 * var(--card-set-gap));
  }
  .card-set > .item {
    flex-basis: calc(100% / 3 - var(--card-set-gap)); 
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
  }

  /* CARD */
  .card-thumb {
    outline: 1px;
  }
  .item {
    outline: 1px;
  }
  .card-content {
    padding: 20px 24px;
  }
  .card-text {
    margin-top: 10px;
  }

  /* LINK */
  .link { 
      color: inherit;
      text-decoration: none;
  }
  .link:hover,
  .link:focus {
      color: var(--accent-color);
  }
  .link-current {
      color: var(--accent-color);
      text-decoration: none;
  }
  .list {
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 0;
      list-style: none;
      text-decoration: none;
      font-style: normal;
  }
  .dark-bg {
      background-color: var(--dark-bg-color);
  }

  /* BUTTON */
  .button {
      padding: 6px 22px;
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      border-radius: 4px;
      border: 0;
  }
  .button-main {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      padding: 10px 32px;
      color: var(--dark-bg-text-color);
      background-color: var(--accent-color);  
      border-radius: 4px;
      min-width: 200px;
      height: 50px;
      margin-left: auto;
      margin-right: auto;
      border: 0;
  }
  .button:focus,
  .button:hover{
      color: var(--dark-bg-text-color);
      background-color: var(--accent-color);
  }
  .pointer {
    cursor: pointer;
  }
  .menu {
    display: inline-flex;
  }
  .menu-item: not( :last-child ) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .pad {
    margin-left: 50px;
  }

  /* TITTLE */
  .page-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em; 
    color: var(--dark-bg-text-color);
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .page-current {
      color: var(--accent-color);
      text-decoration: none;
  }
  .section-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em; 
    color: var(--tittle-color);
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
  .subsection-tittle {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--tittle-color); 
    text-transform: uppercase;
    margin-bottom: 10px; 
  }
  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  .dark-bg .tittle {
    --tittle-color: var(--dark-bg-text-color);
  }
  .section {
    padding-bottom: 94px;
  }
  .section-method {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  /* PORTFOLIO */
  .portfolio-tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--tittle-color);
    margin-bottom: 4px;
  }
  .portfolio-subtittle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--main-text-color);   
  }
  .portfolio {
    --grid-item: 5;
    padding-left: auto;
    padding-right: auto;
    padding-top: 94px;
    padding-bottom: 94px;
  }
  
  /* HEADER */
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--tittle-color); 
    text-decoration: none;  
  }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .header .logo {
    margin-right: 90px;
  }
  .navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .web {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--accent-color);   
  }
  .studio {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: var(--tittle-color);  
  }
  .logo {
    display: block;
  }

  /* GALLERY */
  .gallery {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-right: -30px;
  }
  .gallery-item {
    --grid-item: 3;
    margin-right: 30px;
  }
  .methods {
    --grid-item: 4;
    display: flex;
    padding-right: -30px;
  }
  .methods-item {
    margin-right: 30px;
  }

  /* TEAM */
  .team {
      background-color: var(--dark-bg-text-color);
      display: flex;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      --grid-item: 4;
      padding-right: -30px;
  }
  .team-item {
    text-align: center;
    padding-right: 30px;
  }
  .team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--tittle-color);
    margin-bottom: 10px;  
  }
  .team-member-position {
    font-size: 16px;
    line-height: 1.18;
    color: var(--main-text-color);
  }
  .team-content {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .grid {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 34px;
    padding-left: -8px;
  }
  .grid-item {
    margin-left: 8px;
  }

  /* HERO */
  .hero {
    display: flex;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero .container {
    display: flex;
    justify-content: center;
  }
  .hero-content {
    width: 55%;
    max-width: 700px;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  /* FOOTER */
  .footer {
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;
  }
  .studio-footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: var(--dark-bg-text-color);
  }
  .address {
    color: var(--dark-bg-text-color);
  }
  .footer-item {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .address {
    margin-top: 20px;
  }