@font-face {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/raleway-v19-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/raleway-v19-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/raleway-v19-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/raleway-v19-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/raleway-v19-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/raleway-v19-latin_cyrillic-700.svg#Raleway') format('svg'); /* Legacy iOS */
  }
  :root {
      --main-text-color: #757575;
      --dark-bg-text-color: #FFFFFF;
      --accent-color: #2196f3;
      --title-color: #212121;
      --dark-bg-color: #2f303a;
  }
  body {
    font-family: "Roboto";
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--main-text-color);
  }
  address {
      font-style: normal;
  }
  .visually-hidden {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
  }
  .link {
      text-decoration: none;
      color: inherit;
  }
  .link:hover,
  .link:focus {
    color: #2196f3;
  }
  .link-current {
      color: ;var(--accent-color);
  }
  .list {
    list-style: none;
  }
  .dark-bg {
      background-color: var(--dark-bg-color);
  }
  .button {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-transform: uppercase; 
    background-color: #e5e5e5;
    color: #212121;
  }
  .button:hover {
    background-color: #2196f3 ;
    color: #ffffff;
  }
  .page-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em; 
    color: #FFFFFF;
  }
  .section-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em; 
    color: #212121;
  }
  .subsection-tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;  
  }
  .portfolio-tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;  
  }
  .portfolio-subtittle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;   
  }
  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;   
  }
  .team {
      background-color: #FFFFFF;
  }
  .team-item {
    text-align: center
  }
  .team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;  
  }
  .team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575; 
  }
  .dark-bg .tittle {
    --tittle-color: #ffffff;
  }
  .Web {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2196f3;   
  }
  .Studio {
    font-family: "Oleo Script";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: #212121;  
  }
  .Studio-footer {
    font-family: "Oleo Script";
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: #ffffff;
  }