  :root {
      --main-text-color: #757575;
      --dark-bg-text-color: #FFFFFF;
      --accent-color: #2196f3;
      --title-color: #212121;
      --dark-bg-color: #2f303a;
      --button-color: #212121;
      --button-background-color: #e5e5e5;
      --link-hover-color: #2196f3;
      --link-focus-color: #2196f3;
  }
  body {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em; 
    color: var(--main-text-color);
  }
  address {
      font-style: normal;
  }
  .visually-hidden {
      position: absolute !important;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px, 1px, 1px, 1px);
      padding: 0 !important;
      border: 0 !important;
      height: 1px !important;
      width: 1px !important;
      overflow: hidden;
  }
  .link { 
      color: inherit;
      text-decoration: none;
  }
  .link:hover,
  .link:focus
  .link-current {
      color: var(--accent-color);
      text-decoration: none;
  }
  .list {
      list-style: none;
  }
  .dark-bg {
      background-color: var(--dark-bg-color);
  }
  .button {
      font-family: inherit;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.87;
      letter-spacing: 0.06em;
      text-transform: lowercase; 
      cursor: pointer;
  }
  .button:focus,
  .button:hover{
      color: #ffffff;
      background-color: #2196f3; 
  }
  .page-tittle {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em; 
    color: #FFFFFF;
  }
  .page-current {
      color: var(--accent-color);
  }
  .section-tittle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em; 
    color: #212121;
  }
  .subsection-tittle {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;  
  }
  .portfolio-tittle {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;  
  }
  .portfolio-subtittle {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;   
  }
  .header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121; 
    text-decoration: none;  
  }
  .team {
      background-color: #FFFFFF;
  }
  .team-item {
    text-align: center
  }
  .team-member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #212121;  
  }
  .team-member-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: #757575; 
  }
  .dark-bg .tittle {
    --tittle-color: #ffffff;
  }
  .web {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2196f3;   
  }
  .studio {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: #212121;  
  }
  .studio-footer {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: #ffffff;
  }